body {
    font-family: helvetica;
    padding: 0;
    margin: 0;
    background-color: rgba(243,245,245,255);
}

.container {
    display: flex;
    flex-direction: row;
}

/* HEADER */

#title {
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 32px;
    width: 50%;
}

header {
    background-color: white;
    justify-content: space-between;
    height: 64px;
    padding: 0 24px;
}
.nav {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    font-size: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    display: flex;
}

/* MAIN */

/*learn something*/

.box-60 {
    /*border: 1px solid red;*/
    width: 60%;
}

.box-40 {
    /*border: 1px solid green;*/
    width: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 75px;
    color: rgba(74,74,74,255);
    justify-self: baseline;
}

.button {
    border: none;
    background-color: rgba(74,74,74,255);
    color: white;
    padding: 8px 0;
    width: 60%;
    font-size: 30px;
}

.intro {
    background-color: rgba(216,216,216,255) ;
}

.intro p {
    color: rgba(74,74,74,255);
    font-size: 45px;
}

.banner {
    margin: 32px 24px;
}

.box {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}

.box-text {
    /*border: 1px solid hotpink;*/
    flex-direction: column;
}

.dark-box {
    background-color: rgba(216,216,216,255);
}

.box img {
    width: 35%;
    height: auto;
}

.subheading {
    text-align: center;
    font-size: 40px;
}

/* START LEARNING */

.start-learning {
    background-color: lightgray;
    flex-direction: column;
}

.purp {
    /*border: 5px solid purple;*/
    flex-wrap: wrap;
    justify-content: center;
}

.course-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: 1px solid red;*/
    background-color: white;
    width: 25%;
    margin: 32px;
}

.course-box img {
    width: 100%;
}

/* THESIS */

.thesis {
    /*border: 1px solid hotpink;*/
    flex-direction: column;
    padding: 0 24px;
}

video {
    width: 90%;
}

/* FOOTER */
footer {
    color: gray;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;
}

footer nav {
    text-align: right;
    display: flex;
    flex-direction: row;
    gap: 20px;
}