.container {
    display: flex;
    flex-direction: row;
}

/* HEADER */
header nav {
    align-content: flex-end;
    justify-content: space-around;
}

/* MAIN */

.content {
    background-color: lightgray;
}

#banner {
    width: 60%;
    padding: 32px 24px;
}

/* FOOTER */
footer {
    color: gray;
    text-align: left;
    display: flex;
    flex-direction: row;
}

footer nav {
    text-align: right;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}